section.content
  .container
    .content__container
      h5.content__container--h Бренды нашего магазина
      .content__container--items
        .content__container--item
          img(src="../img/diliva.png" alt="").content__container--item-img
        .content__container--item
          img(src="../img/naris.png"  alt="").content__container--item-img    
        .content__container--item
          img(src="../img/diva.png"  alt="").content__container--item-img  
        
       
  
   
 
