.header__bottom
  .container
    .header__bottom--menu
    .header__bottom--phone
      p.header__bottom--phone-p +7 (495) 721-64-63 
      
    .header__bottom--schedule
      p.header__bottom--schedule-p (пн-пт - 10:00-19:00
      p.header__bottom--schedule-p  сб-вс - 11:00-17:00)
      
    .header__bottom--call
      a(href="#").header__bottom--call-a Заказать звонок
      
    .header__bottom--logo
      img(src="../img/Benefit_Cosmetics_logo.png" alt="").header__bottom--logo-img
    
    .header__bottom--case
      .header__bottom--case-item
        #search.header__bottom--case-item-img
        a(href="#").header__bottom--case-item_a Поиск
      .header__bottom--case-item
        #favorites.header__bottom--case-item-img
        a(href="#").header__bottom--case-item_a
      .header__bottom--case-item
        #compare.header__bottom--case-item-img
        a(href="#").header__bottom--case-item_a Сравнение
      .header__bottom--case-item
        #basket.header__bottom--case-item-img
        a(href="#").header__bottom--case-item_a Корзина
      
