section.products
  .container
    .products__container
      h5.products__container--h Самое популярное
      .container__items
        .container__prev
        .container__item
          .container__item--description
            p.container__item--category Макияж
            img(src="../img/product_1.png" alt="").container__item--img
            img(src="../img/sale.png" alt="").container__item--img-sale
            p.container__item--p Givenchy Le Rouge* Помада для губ
            .container__item--description-from
              p.container__item--description-bcc бренд коллекция страна
              p.container__item--description-info Cezares GIUBILEO Италия    
          .container__item--price
            p.container__item--price-amount Количество
            .container__item--price-number
              .plus +
              .number 1
              .minus - 
            p.container__item--price-prev 1 100грн
            p.container__item--price-now-red 900грн
            .container__item--buy
              i.container__item--buy-basket
              a.container__item--buy-a в корзину
        
        .container__item
          .container__item--description
            p.container__item--category Тело и ванна
            img(src="../img/product_2.png" alt="").container__item--img
            p.container__item--p Натуральное масло "Манго"
            .container__item--description-from
              p.container__item--description-bcc бренд коллекция страна
              p.container__item--description-info Cezares GIUBILEO Италия
          .container__item--price
            p.container__item--price-amount Количество
            .container__item--price-number
              .plus +
              .number 1
              .minus - 
            p.container__item--price-now 97грн
            .container__item--buy
              i.container__item--buy-basket
              a.container__item--buy-a в корзину
        
        .container__item
          .container__item--description
            p.container__item--category Волосы
            img(src="../img/product_3.png" alt="").container__item--img
            p.container__item--p  Аюрведический шампунь из индийских трав «Comex»
            .container__item--description-from
              p.container__item--description-bcc бренд коллекция страна
              p.container__item--description-info Cezares GIUBILEO Италия
          .container__item--price
            p.container__item--price-amount Количество
            .container__item--price-number
              .plus +
              .number 1
              .minus - 
            p.container__item--price-now 62 грн
            .container__item--buy
              i.container__item--buy-basket
              a.container__item--buy-a в корзину
        
        .container__item
          .container__item--description
            p.container__item--category Ногти
            img(src="../img/product_4.png" alt="").container__item--img
            p.container__item--p Лак для ногтей
            .container__item--description-from
              p.container__item--description-bcc бренд коллекция страна
              p.container__item--description-info Cezares GIUBILEO Италия
          .container__item--price
            .container__item--price-number
              .plus +
              .number 1
              .minus - 
            p.container__item--price-now 132 грн
            .container__item--buy
              i.container__item--buy-basket
              a.container__item--buy-a в корзину
        
        .container__item
          .container__item--description
            p.container__item--category Лицо
            img(src="../img/product_5.png" alt="").container__item--img
            p.container__item--p  Маска для лица "3 глины и морские водоросли"
            .container__item--description-from
              p.container__item--description-bcc бренд коллекция страна
              p.container__item--description-info Cezares GIUBILEO Италия
          .container__item--price
            .container__item--price-number
              .plus +
              .number 1
              .minus - 
            p.container__item--price-now 150 грн
            .container__item--buy
              i.container__item--buy-basket
              a.container__item--buy-a в корзину
          
        .container__next        
        
        
