section.slider
  .container
    .slider__container
      .slider__container--img
        img(src="../img/banner copy.png" alt="").slider__container--img-b
        img(src="../img/slider-img-s.png" alt="").slider__container--img-s
      .slider__container--img
        img(src="../img/slider-img-s.png" alt="").slider__container--img-s
        img(src="../img/banner copy.png" alt="").slider__container--img-b
      .slider__container--img
        img(src="../img/slider-img-s.png" alt="").slider__container--img-s
        img(src="../img/banner copy.png" alt="").slider__container--img-b
      
