doctype html
html(lang='en')
  head
    title benefit
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content="IE=edge") 
    meta(name='viewport' content='width=device-width') 
    
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous")
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css")
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css") 
    link(rel="stylesheet" href="css/main.min.css") 
    
        
    
    
  body
    include sections/header
    include sections/slider
    include sections/products
    include sections/content
    include sections/footer 
    
    
  script( type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
  script(type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js") 
  script(src= "js/main.min.js") 
