.slider{

  margin-top: 90px;
  @media (max-width:768px){
    margin-top: 0px;
  }

  &__btn-prev{
    z-index: 100;
    width: 15px;
    height: 29px;
    position: absolute;
    background-image: url(../img/sl-btn-prev.png);
    background-repeat: no-repeat;
    background-position: center;
    left: 3.35%;
    top: 46%;
    @media (max-width:768px){
      top: 47%;
    }
    &:hover{
      top: 45%;
      width: 20px;
      height: 34px;
      background-size: 19px 33px;
      @media (max-width:768px){
        top: 47%;
      }
    }
    &:active{
      background-color: #fc2561;
    }
  }

  &__btn-next{
    width: 15px;
    height: 29px;
    position: absolute;
    background-image: url(../img/sl-btn-next.png);
    background-repeat: no-repeat;
    background-position: center;
    right: 3.33%;
    top: 46%;
    @media (max-width:768px){
      top: 47%;
      right: 4.5%;
    }
    &:hover{
      top: 45%;
      width: 20px;
      height: 34px;
      background-size: 19px 33px;
      @media (max-width:768px){
        top: 47%;
        right: 4.5%;
      }
    }
    &:active{
      background-color: #fc2561;
    }
  }

  &__container{
    position: relative;
    height: auto;
    width: 108%;
    margin: 0px 0 0 -4%;
    background-color: #fff;
    background-size: cover;
    overflow: hidden;
    padding: 0px 3%;
    @media (max-width:768px){
      margin: 0px;
      padding: 0px 0px 23px;

    }
    &--img{
      // position: relative;
      // height: auto;
      // width: 108%;
      // margin: 0px 0 0 -4%;
      // background-color: #fff;
      // background-size: cover;
      // overflow: hidden;
      // padding: 0px 3%;
      outline: 0;
      outline-offset: 0;
      overflow: hidden;
      &-b{
        // display: block;
        margin: 30px auto;
        max-width:100%;
        height:auto;
        @media (max-width:768px){
          margin: 0;
          padding: 0;
          height: 0px;
          width: 0px;
          display: none;
        }
      }
      &-s{
        height: 0px;
        width: 0px;
        display: none;
        @media (max-width:768px){
          margin: 30px 0 0 0;
          width: 768px;
          height: 330px;
        }
      }
      // margin: 30px 0.4% 0px 0.4%;


    }
  }
}



.slick-dots {
  position: absolute;
  left: 44.50%;
  bottom: 27px;
	list-style-type: none;
  @media (max-width:768px){
    left: 39.50%;
    bottom: 23px;
  }



		li {
      display: inline-block;
      vertical-align: middle;
			margin-left: 10px;
		}

		button {
      background-color: transparent;
			display: inline-block;
      vertical-align: middle;
			width: 15px;
			height: 15px;
      border-radius: 50%;
      border: 1px solid #fff;
			text-indent: -9999px;
      @media (max-width:768px){
        width: 12.5px;
  			height: 12.5px;
      }
		}

		li.slick-active button {
        background: #fc2561;
        border: 1px solid #fff;

		}

}
